html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.background {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("../img/bg-3.jpeg") no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
  z-index: -1;
}

.background .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

 /* Bordered form */
form {
    border: 0px solid #f1f1f1;
    display: inline-block;
    width: 100%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */


/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
} 

.loginform {
    width: 100%;
    background-color: white;
    padding: 40px;
    padding-bottom: 0px;
    border-radius: 20px 20px 0px 0px;
    font-size: large;
}

@media (max-width: 480px) {
    .loginform {
        font-size: large;
    }
}

.signupform {
    width: 100%;
    background-color: white;
    padding: 40px;
    border-radius: 20px 20px 0px 0px;
    font-size: large;
}

@media (max-width: 480px) {
    .signupform {
        font-size: large;
    }
}

button.design-options-btn {
  border: 1px solid #B3B3B3;
  border-radius: 50px;
  background-color: transparent;
  filter: grayscale(1);
}


button.design-options-btn>h3 h5 {
  color: #831985;
}

button.design-options-btn:hover {
  border: 1px solid #FF5A92;
  border-radius: 50px;
  background-color: transparent;
  filter:none;
  transition: all 0.25s ease-in-out;
}

/* SPEECH BUBBLE MENU FOR ACCOUNT */

ul li.drop {
  position: relative;
}


.dropOut .triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  top: -8px;
  left: 50%;
  margin-left: -8px;
}
.dropdownContain {
  width: 160px;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -80px; /* half of width */
  /*top: -100px;*/
}
.dropOut {
  width: 160px;
  background: white;
  float: left;
  position: relative;
  margin-top: 0px;
  opacity: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.dropOut ul {
  float: left;
  padding: 10px 0;
}
.dropOut ul li {
  text-align: left;
  float: left;
  width: 125px;
  padding: 12px 0 10px 15px;
  margin: 0px 10px;
  color: #777;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background .1s ease-out;
  -moz-transition: background .1s ease-out;
  -ms-transition: background .1s ease-out;
  -o-transition: background .1s ease-out;
  transition: background .1s ease-out;
}

.dropOut ul li:hover {
  /*background: #f6f6f6;*/
}

ul li a:hover { color: salmon; }
ul li:hover .dropdownContain { top: 50px; }
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .dropOut { opacity: 1; margin-top: 3px; }

.quick-start {



}

.quick-start-category>h4 {
  border: 1px solid grey;
  height: 200px;
  border-radius: 30px;
  padding: 30px;
}

.description {
  visibility: hidden;
  transition: opacity .25s ease-out;
}

.quick-start-category:hover .description {
  visibility: visible;
  transition: all 200ms ease-in;

}

.quick-start-category {

    -webkit-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.quick-start-category:hover {

    z-index: 2;
    -webkit-transition: all .25s ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all .25s ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all .25s ease-in;
    -moz-transform: scale(1.5);
    transition: all .25s ease-in;
    transform: scale(1.2);
}






.four-steps .col-md-3>h4 {
  font-weight: lighter;
  line-height: 1.3;
}

.quick-start-category a span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}


/* ALL PRODUCT LSIT */

#all-product-list {
  margin-top: 2%;
}

.product-cat {
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-list {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  margin: 0;
  list-style: none;
  line-height: 2;
}

.product-list>li>a:hover {
  color: salmon;
  text-decoration: none;
}

.product-list>li>a {
  text-decoration: none;
  font-size: 15px;
}

.submit-btn-2 {
  background-color: #42E092;
}

.submit-btn-2:hover {
  background-color: #FF5A92;
  transition: all 0.25s ease-in-out;
}

.submit-btn-2.submit-btn>h4 {
  color: white;
}

.submit-btn-2 a span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0; 
}



/* PLACEHOLDER TEXT */

::-webkit-input-placeholder {
 font-size: 14px;
 color: #B6B6B6;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
 font-size:14px;
 color: #B6B6B6;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 14px;
 color: #B6B6B6; 
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
} 
:-ms-input-placeholder { 
 font-size: 14px; 
 color: #B6B6B6;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}

/* W3SCHOOL DROPDOWN MENU */

 /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    height: 42px;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    border-radius: 10px;
    margin-left: ;
    margin-top: 5px;
    margin-left: -75px;


}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 10px;
    text-align: center;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;     
  border-radius: 5px;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    transition: all .1s ease-out;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;

} 

.quick-start-wrapper {

  display: inline-flex;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  left: 0;
}



@media (width: 414px) {
  .quick-start-wrapper {
    display: block;
    margin-top: -300px;
  }
}

.quick-start-here-text-wrapper {
  padding: 20px;
  vertical-align: center;
  background-color: #42E092;
 
  overflow: auto;
  display: flex;

}

.quick-start-here-text {
  margin: auto;
  display: flex;

}

.learn-more-text { 
  padding: 20px;
  text-decoration: underline;
  left: 0;
  bottom: 5%;
  margin-top: -2000px;
  transition: all 0.25s ease-in;
}


.learn-more-button {
  border-radius: 4px;
  background-color: transparent;
  border: 1px;
  color: #FF4396;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  bottom: 50%;
  margin-left: 0px;
}

.learn-more-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-weight: lighter;
  border-bottom: 1px solid #FF4396;

}

.learn-more-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.learn-more-button:hover span {
  padding-right: 25px;
}

.learn-more-button:hover span:after {
  opacity: 1;
  right: 0;
}



.container {
  position: relative;
}

.learn-more-text h1 { 
  font-weight: normal; 
  line-height: 0.25; 

}

@media (max-width: 400px) {
  .quick-start-wrapper {
    display: block;
  }

  .quick-start-cust-type {
    display: block;
  }
}

.quick-start-cust-type {
  padding: 20px;
  transition: transform .2s;
}

.quick-start-cust-type a span {
position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}

.quick-start-cust-type:hover {
  transform: scale(1.1);
  background: #f6f6f6;

}

.tl {
  border-left:1px solid grey;
  margin: auto;
  height: 100px;
}

@media (max-width: 400px) {
  .tl {
    border-bottom: 1px solid grey;
   
}
}


/* HAMBURGER MENU */

#nav{
      -webkit-transition: background-color 800ms linear;
       -moz-transition: background-color 800ms linear;
      -ms-transition: background-color 800ms linear;
         -o-transition: background-color 800ms linear;
      transition: background-color 500ms linear;
}
.navbar-default {
  border-color: transparent;
  background-color: white;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255,255,255,.02);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: ;
}
.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  font-size: 12px;
}
.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
}
.dropdown-contents {
  display: none;
  position: absolute;
  background-color: rgba(62,62,62,0.94);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-contents a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-contents a:hover {
  background-color: white
}
.dropdowns:hover .dropdown-contents {
  display: block;
}
.dropdown-contents > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #777777;
  right: 17px;
  top: 14px;
}

.navbar-header {
  display: inline-flex;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}


#bs-example-navbar-collapse-2 {
  display: none;
}

@media (max-width: 414px) {
#bs-example-navbar-collapse-2 {
}
}

.navbar {
  margin-bottom: 0px;
}

.category-text {
  background-color: white;
  width: 100%;
  border-radius: 0px;
  text-align: center;
}

.category {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: all 0.05s ease-in;
  height: 443px;
  background-color: white;
}

.category:hover {
  transform: scale(1.05);
}

.category-text:hover {
  background-color: #f6f6f6;

}

.quick-start-selector-wrapper {

}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

 .triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  top: -8px;
  left: 50%;
  margin-left: -8px;
}

.container-login100 {
  width: 100%;
min-height: 100vh;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 15px;
background: #ebeeef;
}

#home-bg {
  position:relative;
  margin:0 auto;
}

#home-bg img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  min-width: 786px;
  width: 100%;
  height: auto;

}

#home-bg img.transparent {
opacity:0;
}

 @keyframes home-bgFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#home-bg img {
animation-name: home-bgFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 8s;
}

#home-bg img:nth-of-type(1) {
  animation-delay: 6s;
}
#home-bg img:nth-of-type(2) {
  animation-delay: 4s;
}
#home-bg img:nth-of-type(3) {
  animation-delay: 2s;
}
#home-bg img:nth-of-type(4) {
  animation-delay: 0s;
}

@media (max-width: 414px) {
#bs-example-navbar-collapse-2 {
  visibility: hidden;

}}

@media (min-width: 768px) {
#bs-example-navbar-collapse-1 {
  visibility: hidden;
  position: absolute;

}}

#bs-example-navbar-collapse-1 > ul > li {
  clear: both;
  float: left;
}


 /*the container must be positioned relative:*/
.custom-select {
  position: relative;
  margin: 0 auto;
 
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: grey;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 25px;
  right: 14px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 16px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 25px;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: grey;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} 


.about-1 {
  top: 120px;
}

.about-1> p {
  font-size: 15px;
}

.about-2> p {
  font-size: 15px;
}

.about-2 {
  width: 100%;
}

#about-1 {
  background-image: url(./img/about-1-bg.jpg);
  width: 100%;
  height: 546px;
  background-size: cover;
}

.benefit {
  display: table-cell;
    padding-left: 20px;
}

.benefit-img {
  display: table-cell;
  vertical-align: top;
}

.benefit-txt {
  font-size: 18px;
}

.cap-btn {
  font-size: 20px;
  border: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  margin-top: 10px;
  display: inline-block;
  letter-spacing: 1px;
}

.cap-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.cap-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.cap-btn:hover span {
  padding-right: 20px;
}

.cap-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}